﻿@{
    ViewBag.Title = "Home Page";
}

@{
    List<String> listPost = ViewData["listPost"] as List<String>;
    List<String> listDate = ViewData["listDate"] as List<String>;
    List<String> listLink = ViewData["listLink"] as List<String>;
    for (int i = 0; i < listPost.Count; i++)
    {
        <a href="@listLink[i]">@listPost[i] </a> <p>(@listDate[i])</p> 
    <br />
    }
}